# https://pgbackrest.org/configuration.html
[global]
{% for r in pgbackrest_repos %}
{% set i = loop.index %}
{%   for k, v in r.items() %}
repo{{ i }}-{{ k }}={{ v }}
{%   endfor %}
{% endfor %}
{% for k, v in pgbackrest_global_config.items() %}
{{ k }}={{ v }}
{% endfor %}

{% for stanza in pgbackrest_stanzas %}
[{{ stanza.name }}]
{%   for p in stanza.pg_config %}
{%   set i = loop.index %}
{%     for k, v in p.items() %}
pg{{ i }}-{{ k }}={{ v }}
{%     endfor %}
{%   endfor %}
{%   for k, v in stanza.get('extra', {}).items() %}
{{ k }}={{ v }}
{%   endfor %}

{% endfor %}
{{ pgbackrest_conf_extra }}
