
[Unit]
Description=PgBackRest for stanza {{ name }} [{{ backup_type }}]
{% if pgbackrest_local_postgresql | bool %}
ConditionPathIsDirectory=/var/lib/pgsql/{{ postgresql_version }}/data
{% endif %}

[Service]
Type=simple
User={{ pgbackrest_owner }}
Group={{ pgbackrest_group }}
ExecStart=/usr/bin/pgbackrest --stanza={{ name }} --type={{ backup_type }} backup
